.cardNote {
    border: 1px solid aliceblue;
    /*width: -webkit-fit-content;*/
    margin: 1em auto 0 auto;
    padding-left: 1em;
}

/*.btnEntrega {
    margin: 1em 0;
    display: block;
    background-color: #004e92;
    padding: .3em 1.5em;
    border: none;
    border-radius: .2em;
}*/